<?xml version="1.0" encoding="UTF-8"?>
<web-app
     xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
  <display-name>Flight Servlet</display-name>
    <servlet>
        <servlet-name>Flight</servlet-name>
        <servlet-class>
          services.flight_service.FService
        </servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Flight</servlet-name>
        <url-pattern>/FServ</url-pattern>
    </servlet-mapping>
</web-app>
